<table class="table">
    <thead class="thead-dark">
        <th></th>
        <th>Name</th>
        <th>Price</th>
        <th>Unit(s) In Stock</th>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td class="align-middle">
                <img src="{{ product.imageUrl }}" height="50px">
            </td>
            <td class="align-middle">{{ product.name }}</td>
            <td class="align-middle">{{ product.unitPrice | currency: 'USD' }}</td>
            <td class="align-middle">{{ product.unitsInStock }}</td>
        </tr>
    </tbody>
    <tfoot></tfoot>
</table>
