<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">
                <!-- Loop over the collection of products -->
                <div *ngFor="let product of products" class="col-md-3">
                    <div class="product-box">
                        <a routerLink="/products/{{ product.id }}">
                            <img src="{{ product.imageUrl }}" class="img-responsive">
                        </a>   
                        <a routerLink="/products/{{ product.id }}">
                            <h1>{{ product.name }}</h1>      
                        </a>              
                        <div class="price">{{ product.unitPrice | currency: 'USD' }}</div>
                        <button (click)="addToCart(product)" class="btn btn-primary btn-sm">Add to cart</button>
                    </div>
                </div>

                <!-- If searching function returns null (which is a blank page) then display an error message -->
                <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert"> <!-- Angular Safe Navigation Operator (?): to guard against null or undefined values in property paths: if (products is null/undefined) or (products.length == 0) { display: No products found. }  -->
                    No products found.
                </div>
            </div>

            <!-- BEGIN FOOTER -->
            <div class="footer-pagination">
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-9">
                                <ngb-pagination [(page)]="thePageNumber"
                                                [pageSize]="thePageSize"
                                                [collectionSize]="theTotalElements"
                                                [maxSize]="5"
                                                [boundaryLinks]="true"
                                                (pageChange)="listProducts()">
                                </ngb-pagination>
                            </div>
                            <div class="col-md-3 mt-2" style="text-align: right;">
                                <span class="mr-2">Page Size</span>

                                <select (change)="updatePageSize($event.target.value)">
                                    <option selected="true">5</option>
                                    <option>10</option>
                                    <option>20</option>
                                    <option>50</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END FOOTER -->
        </div>
    </div>
</div>